
/* =====================
   Navbar style 
====================== */



/* *************************************************** */
/* service1 && service2  custom shadow*/
.customShadow  {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
/* slider css  */
.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  line-height: 1 !important;
  opacity: 0.75 !important;
  color: rgb(185, 25, 153) !important;
}
